#based-data {
    max-width: 600px;
    margin: 10px auto;
    line-height: 1.5;
}

#based-data h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;
    padding: 11px 14px;
    background: #f8f9fa;
    border-radius: 8px;
}

.input-group label {
    font-weight: 500;
    color: black;
}

.input-group input {
    width: 80px;
    padding: 6px 8px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    background: white;
}

.two-pick {
    display: flex;
    align-items: center;
    gap: 8px;
}

.unit {
    color: #7f8c8d;
    font-size: 15px;
}

.results-data {
    max-width: 680px;
}

.based-data, .results-data, .input-group, .result-group, button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.results-data h3 {
    text-align: center;
    margin-bottom: 5px;
    color: #000000;
}

.result-row {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    gap: 12px;
    align-items: center;
    padding: 11px 14px;
    background: #f5f9ff;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 15px;
}

.result-row .parametr  { 
    font-weight: 500; 
    color: #000000; 
}

.result-row .value  { 
    font-weight: 600; 
    color: #c0392b; 
    text-align: right; 
    min-width: 80px; 
}

.result-row .step   { 
    color: #2980b9; 
    font-size: 13px; 
}

button {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;
    background-color:#f6f4f4;
    border: 1px solid #becdd5;
    border-radius: 60px;
}

#me {
    background-color: rgb(232, 230, 228);
    color:#2d3030;
    font-size: 16px;
}